# VSCode files
.vscode
.vs

# GDrive files
*desktop.ini
*.ini

# MATLAB files
*.asv
## XPCTarget additional build files
*xpc_rtw/
*slprj/
*.xml
*bio.m
*pt.m
*ref.m
*_sfun.mexw64
*_sfun.mexw32

## Trajectory data files
*dumpOutput/

